<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UserInterface Demo  Suite">
    <test name="UserInterface Demo Test">
        <classes>
            <class name="GameTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->